.container {
    display: flex;
}

.audioContainer {
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.audioContainer i {
    cursor: pointer;
    font-size: 2rem;
}

.audioContainer audio {
    margin-right: 6%;
}

.reminderModal {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.buttonView {
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
}

.input,
.select,
.select>option {
    cursor: pointer;
    padding: 8px;
}